# compiled output
/dist/
/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
*.log

# OS
.DS_Store
Thumbs.db

# npm
npm-debug.log
yarn-error.log

# angular
*.angular-cli.json
e2e/*.js
e2e/*.map

# System Files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
